VideoIndexerClient/__pycache__/VI_Client.cpython-311.pyc
VideoIndexerClient/__pycache__/account_token_provider.cpython-311.pyc
VideoIndexerClient/__pycache__/Consts.cpython-311.pyc
VideoIndexerClient/__pycache__/__init__.cpython-311.pyc
resources/save_dir/REC0001.WAV
resources/save_dir/*
.env
.DS_Store
.gitignore
